<!doctype html>
<html lang="en">
  <head>
    <base href="../index.html">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Web of Things (WoT) Thing Description: Implementation Report</title>
	<style type="text/css" xml:space="preserve">
/*<![CDATA[*/
body {
    margin-left: 4%;
    margin-right: 3%;
}
table {
    border: black;
    border-width: 1px;
}
h2 { font-size: 150% }
h3 { font-size: 120%; font-weight: bold }
h4 { font-size: 110%; font-weight: bold}
.tocline { list-style: none; }
th { background-color: rgb(180,255,180) }
th.rotate {
   /* adjust as necessary... */
   height: 180px;
   white-space: nowrap;
}
th.rotate>div {
   transform: 
      /* translate(25px, 51px) 
         rotate(315deg);
      */
      rotate(90deg);
   width: 30px;
}
th.rotate>div>span {
   /* border-bottom: 1px solid #ccc;
   */
   padding: 5px 10px;
}
td.baseassertion { background-color: rgb(234,255,234) }
td.tabassertion { background-color: rgb(234,255,255) }
td.extraassertion { background-color: rgb(200,200,255) }
td.atrisk { background-color: rgb(255,200,255) }
td.failed { background-color: rgb(255,128,128) }
td.passed { background-color: rgb(128,255,128) }
td.secure { background-color: rgb(0,255,0) }
td.missing { background-color: rgb(255,255,128) }
.comment {color: green; font-style: italic}
.remove {text-decoration: line-through;color: black;}
.new { color: red; }
.working {background-color: rgb(255,234,234); padding:0.2em;}
.fill-in {background-color: rgb(255,234,234);}
pre.example {
   font-family: "Courier New", monospace;
   white-space: pre;
   background-color: rgb(204,204,255);
   padding: 0.5em;
   border: none;
   border-width: 0;
   margin-left: 0;
   font-size: 100%;
   width: 100%;
}

table { background-color: rgb(180,180,180) }

table.testlist {
   border: black;
   border-width: 1px;
}
table.grammars th, table.commands th, able.attrs th, table.testlist th {
   background-color: rgb(180,255,180);
   font-size: 10pt;
   vertical-align: top; text-align: left;
}
table.grammars td, table.commands td, table.attrs td, table.testlist td {
/* background-color: rgb(234,255,234);
*/
   font-size: 10pt;
   vertical-align: top; text-align: left;
}

table.attrs {margin-top: 5px}
/*]]>*/
</style>
<link rel="stylesheet" type="text/css" href="http://www.w3.org/StyleSheets/general.css">
        
<style type="text/css">
<!--
.new1 {color: green;}
-->
</style>
  </head>
  <body>
	<div class="head">
			<a href="http://www.w3.org/" shape="rect">
				<img src="http://www.w3.org/Icons/w3c_home" alt="W3C" width="72" height="48">
			</a>
			<h1 id="h_ir">
	            Web of Things (WoT) Thing Description:<br/>
		        Implementation Report
            </h1>
	  <p>
				<b>Version</b>: 17 December 2018</p>
	  <p>
				<b>Contributors</b>:<br>
	  </p>
	  <p>
      Sebastian Kaebisch (Siemens AG) (Editor in Chief)<br/>
      Takuki Kamiya (Fujitsu Laboratories of America, Inc.)<br/>
      Michael McCool (Intel K.K. (Japan))<br/>
      Others (TBD)
	   </p>

<p class="copyright"><a href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> © 2018 <a href="http://www.w3.org/"><acronym title="World Wide Web Consortium">W3C</acronym></a><sup>®</sup> (<a href="http://www.csail.mit.edu/"><acronym title="Massachusetts Institute of Technology">MIT</acronym></a>, <a href="http://www.ercim.org/"><acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym></a>, <a href="http://www.keio.ac.jp/">Keio</a>), All Rights Reserved. W3C <a href="http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>, <a href="http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a> and <a href="http://www.w3.org/Consortium/Legal/copyright-documents">document use</a> rules apply.</p>
<hr title="Separator for header">
</div>
<h2 id="h_toc">
<a id="toc" shape="rect" name="toc">Table of Contents</a>
</h2>
<ul>
	<li class="tocline">1. <a href="testing/report.html#intro" shape="rect">Introduction</a>
	<ul>
		<li class="tocline">1.1 <a href="testing/report.html#objectives" shape="rect">Implementation report objectives</a></li>
		<li class="tocline">1.2 <a href="testing/report.html#non_objectives" shape="rect">Implementation report non-objectives</a></li>
	</ul>
	</li>
	<li class="tocline">2. <a href="testing/report.html#cr_work" shape="rect">Work during the Candidate Recommendation period</a></li>
	<li class="tocline">3. <a href="testing/report.html#participate" shape="rect">Participating in the implementation report</a></li>
	<li class="tocline">4. <a href="testing/report.html#pr_entrance_crit" shape="rect">Entrance criteria for the Proposed Recommendation phase</a></li>
	<li class="tocline">5. <a href="testing/report.html#report_reqs" shape="rect">Implementation report requirements</a>
	<ul>
		<li class="tocline">5.1 <a href="testing/report.html#DetailedReqs" shape="rect">Detailed requirements for implementation report</a></li>
		<li class="tocline">5.2 <a href="testing/report.html#NotesOnTesting" shape="rect">Notes on testing</a></li>
		<li class="tocline">5.3 <a href="testing/report.html#out_of_scope" shape="rect">Out of scope</a></li>
	</ul>
	</li>
	<li class="tocline">6. <a href="testing/report.html#systems-toc" shape="rect">Systems</a></li>
	<ul id="systems-toc">
        <!--
		<li class="tocline">6.x <a href="testing/report.html#impl-ORG" shape="rect">ORG</a></li>
        -->
	</ul>
	<li class="tocline">7. <a href="testing/report.html#security" shape="rect">Security</a></li>
	<li class="tocline">8. <a href="testing/report.html#test_class" shape="rect">Test results</a> 
    <ul>
	    <li class="tocline">8.1 <a href="testing/report.html#test_assertions" shape="rect">Test assertion results</a></li>
	    <li class="tocline">8.2 <a href="testing/report.html#test_interop" shape="rect">Interoperability results</a></li>
	</ul>
	</li>
	<li class="tocline">
	<a href="testing/report.html#appendices" shape="rect">Appendices</a>
	<ul>
        <li class="tocline">Appendix A. <a href="testing/report.html#ackB" shape="rect">Acknowledgements</a></li>
	</ul>
	</li>
</ul>
<h2 id="h_intro"><a id="intro" name="intro">1. Introduction</a> </h2>
<p>The <a href="http://www.w3.org/TR/wot/td">Web of Things (WoT) Thing Description Specification</a>
   entered the Candidate Recommendation period on XX February 2019.</p>

<p> The planned date for entering Proposed Recommendation is XX March 2019.
This document
summarizes the results from the Web of Things (WoT) TD implementation reports received and
describes the process that the Web of Things (WoT) Working Group followed in preparing the report.</p>

<h4 id="h_objectives"><a id="objectives" name="objectives">1.1 Implementation report objectives</a></h4>
<ol>
	<li>Must verify that the specification is implementable.</li>
</ol>
<h4 id="h_non_objectives"><a id="non_objectives" name="non_objectives">1.2 Implementation report non-objectives</a></h4>
<ol>
	<li>The IR does not attempt conformance testing of implementations.</li>
</ol>
<h2 id="h_cr_work"><a id="cr_work" name="cr_work">2. Work during the Candidate Recommendation period</a></h2>
<p>During the CR period, the Working Group carried out the following activities:</p>
<ol>
	<li>Clarification and improvement of the exposition of the specification<br/></li>
	<li>Disposing of comments that were communicated to the WG during the CR period. 
        These comments and their resolution are detailed in the 
          <a href="http://www.w3.org/TR/2019/PR-xxx/disp.html">Disposition of Comments</a> 
          document for the CR period.</li>
	<li>Preparation of this Implementation Report.</li>
</ol>
<h2 id="h_participate"><a id="participate" name="participate">3. Participating in the implementation report</a></h2>
<p>Implementors were invited to contribute to the assessment of the W3C Web of Things (WoT)
Thing Description Specification by submitting  implementation reports describing the 
coverage of their implementations with respect to the test assertions outlined 
in the <a href="testing/report.html#test_assertions" shape="rect">table below</a>.</p>
<p>Implementation reports, comments on this document, or requests made for
further information were  posted to the Working Group's public
mailing list <a href="mailto:wot-wg@w3.org">wot-wg@w3.org</a>
(<a href="http://lists.w3.org/Archives/Public/www-wot/">archive</a>)
and as issues on the github repository i
<a href="https://github.com/w3c/wot-thing-description">https://github.com/w3c/wot-thing-description</a>.</p>
<h2 id="h_pr_entrance_crit"><a id="pr_entrance_crit" name="pr_entrance_crit">
4. Entrance criteria for the Proposed Recommendation phase</a></h2>
<p>The Web of Things (WoT) Working Group established the following
entrance criteria for the Proposed Recommendation phase in the
Request for CR:</p>
<ol>
<li>Sufficient reports of implementation experience have been
gathered to demonstrate that Things can be described by Thing Descriptions 
in sufficient detail to allow interoperabilty.</li>
<li>Specific Implementation Report Requirements (<a href="testing/report.html#report_reqs">outlined below</a>) have been met.</li>
<li>The Working Group has formally addressed and responded to all 
    public comments received by the Working Group.</li>
</ol>
<p>All three of these criteria have been met. 
<!-- Hard to count since some implementations have multiple components, and some are shared.  Omit.
A total of N implementations were documented by M different organizations.
-->
The testimonials below indicate the broad base of support 
for the specification. All of the required features had at least
two implementations. 
All of the optional features received at least two implementations.
However, these optional features do not have 
conformance requirements that have an impact on interoperability. </p>
<h2 id="h_report_reqs"><a id="report_reqs" name="report_reqs">5. Implementation report requirements</a></h2>
<h4 id="h_DetailedReqs">
<a id="DetailedReqs" shape="rect" name="DetailedReqs">5.1 Detailed requirements for implementation report</a></h4>
<ol>
	<li>Testimonials from implementers are included in the IR when
provided to document the utility and implementability of the
specification.</li>
	<li>IR must cover all specified features in the specification. For
each feature the IR should indicate:
    <ul>
	     <li>Feature status: required, optional, other.</li>
	     <li>Feature utility/usefulness based on feedback from
implementers.</li>
	     <li>Implementability of the feature specification.</li>
    </ul>
    </li>
    <li>Feature status is a factor in test coverage in the report:
    <ul>
		<li>Required specification features must have at least two
implementations. Implementations that do not implement a required
specification feature must document the reason for not implementing
the feature.</li>
		<li>Optional specification features must have at least one
implementation. Implementations that do not implement an optional specification
feature should document the reason for not implementing the
feature. </li>
	</ul>
	</li>
</ol>
<div>
<h4 id="h_NotesOnTesting"><a id="NotesOnTesting" name="NotesOnTesting">5.2 Notes on testing</a></h4>
<ol>
    <li>A implementation report must indicate the outcome of evaluating 
the implementation with respect to each of the test assertions. Possible
outcomes are "<code>pass</code>", "<code>fail</code>" or
"<code>not-impl</code>". "</li>
</ol>
</div>
<h4 id="h_out_of_scope"><a id="out_of_scope" name="out_of_scope">5.3 Out of scope</a></h4>
<div style="margin-left: 2em;">
<p>This implementation Report will not cover:</p>
<ul>
    <li>Combinations of protocols and security schemes not listed in 
        <a href="http://www.w3.org/TR/wot-security-best-practices">Web of Things (WoT) Security Best Practices</a>. 
    </li>
</ul>
</div>
<a id="test-systems" name="test-systems"></a>
<h2 id="h_systems"><a id="test-systems" name="test-systems"></a>
<a id="systems" name="systems">6. Systems</a></h2>
<p>This section contains descriptions of each of the implementations
of the WoT Thing Description specification
from all organizations that submitted implementation reports.
Each implementation represents a working system 
that either exposes or consumes at least one WoT Thing Description.
Implementations that expose a Thing Description act as a network
server with an interface as described in the Thing Description it exposes. 
Implementations that consume a Thing Description act as a network
client and issue network requests consistent with the target Thing Description.
In some cases a given implementation may be used for multiple Things
and a single Thing may also act as both client and server on
multiple interfaces.
</p><p>
We only count systems with mostly independent code bases 
as distinct implementations.
There are however some cases (documented in the following) where 
implementations shared components but were still considered substantially
independent implementations.  In cases where a substantial component
was shared across implementations the features supported by that 
component were only counted once.
</p>
<div class="working" id="systems-impl">
    <!-- system implementation descriptions will be inserted here -->
</div>

<h2 id="h_security"><a id="security-xml" name="security-xml"></a>
<a id="security" name="security">7. Security</a></h2>
<p>
The
<a href="https://www.w3.org/TR/wot-thing-description">Web of Things (WoT) Thing Description Specification</a> 
includes features to support security.
Functional aspects of assertions associated with security features are validated 
in the same fashion as other functional features.

In addition, however, the 
<a href="https://www.w3.org/2016/12/wot-wg-2016.html">Web of Things (WoT) WG Charter</a> 
requires the development of a test plan that includes adversarial testing.
An appropriate security test plan, including a description
of how existing web service penetration testing tools can be used,
is given in
<a href="http://www.w3.org/TR/wot-security-testing">Web of Things (WoT) Security Testing Plan</a>. 
</p>
<p>
Security validation is in addition to a description of more general security and privacy
considerations given in  
<a href="https://www.w3.org/TR/wot-security/">Web of Things (WoT) Security and Privacy Considerations</a> 
and the security and privacy considerations given in the specification
itself.
</p>
<p>
Note the WoT TD specification 
is designed to support the description of existing devices 
which may not be secure by current standards, 
such adversarial testing will normally be limited to 
security configurations following the
best-practices security configurations given 
in 
<!-- BEST-PRACTICES -->
<a href="http://www.w3.org/TR/wot-security-best-practices">Web of Things (WoT) Security Best Practices</a>. 
for which security is an expectation.
</p>

<h2 id="h_test_class"><a id="test-results-xml" name="test-results-xml"></a>
<a id="test_class" name="test_class">8. Test results</a></h2>

<h3 id="test_assertions_h"><a id="test_assertions" name="test_assertions">8.1 Test assertion results</a></h3>
<p>The aim of this section is to describe the range of test assertions
developed for the 
<a href="http://www.w3.org/TR/xxx">Web of Things (WoT) Thing Description Specification</a> 
and summarize the results from the implementation 
reports received in the CR period.
The table lists all assertions derived from the 
<a href="http://www.w3.org/TR/xxx">Web of Things (WoT) Thing Description Specification</a>.
</p> 
<ul>
<li>The <b>ID</b> column uniquely identifies the assertion.
and links to the assertion in the context of the specification.
</li>
<li>The <b>Assertion</b> column specifies the constraint which must be met.
</li>
<li>The <b>Req</b> column is a Y/N value indicating whether the test assertion is for a feature which is required.
Note however that the feature may only be required if another feature is also used, as indicated in
the <b>Context</b> column.
</li>
<li>The <b>Parent</b> column indicates another more general assertion that this one is a specialization of.
A specialization indicates a more restrictive context or provides additional detail to facilitate testing.
The more general assertion is only considered to have a "pass" status if all its required
or implmented specializations in a given implementation have a "pass" status.
</li>
<li>The <b>Context</b> column indicates that the "required" status of this feature depends on the use
of other features.
If the context is optional,
then the value of <b>Req</b> actually indicates whether the feature is required 
if the indicated context exists.
</li>
<li>The <b>Result</b> column is annotated with the number of 'pass' (<b>P</b>), 'fail' (<b>F</b>), and 'not implemented' (<b>N</b>)
status results in the individual implementation reports.
</li>
<li>The <b>T</b> column indicates the total number of implementations (or implementation components in the case
of shared components) reporting a status (of any kind) on each assertion.
</li>
</ul>


<table id="testresults" class="testlist" summary="assertions and tests" cellspacing="2" cellpadding="2" width="100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Category</th>
					<th>Assertion</th>
					<th>Req</th>
					<th>Parent</th>
					<th>Context</th>
					<th colspan="4">Results</th>

				</tr>
	            <tr>
					<th colspan="6"></th>
					<th>P</th>
					<th>F</th>
					<th>N</th>
					<th>T</th>
				</tr>
			</thead>
			<tbody>
<!--
				<tr>
					<th colspan="10">Section Title</th>
				</tr>
-->
			</tbody>
		</table>

<h3 id="test_interop_h"><a id="test_interop" name="test_interop">8.2 Interoperability results</a></h3>
<p>This section documents specific pairs of implementations for which
interoperability has been demonstrated. 
Each row represents a producer and each column a consumer.
If a pairing has at least one recorded instance of interoperation,
and no recorded failures, then it is marked as a "Pass".
If a pairing also has at least one recorded instance that uses a 
security configuration identified in
<a href="https://www.w3.org/TR/wot-security/">WoT Security Best Practices</a> 
then it is marked as "Secure".
However, if such a pairing has <em>any</em> reported failures, no matter how many
other successful pairings it has, including secure pairings,
it is marked as a "Fail".
Note that since implementations refer to code bases that may
be used for many services or devices, 
each successful pairing reported may in practice correspond 
to a number of successful service or device pairings.
</p>

<table id="testinterop" class="testlist" summary="implementation interop" cellspacing="2" cellpadding="2" width="100%">
			<thead>
				<tr id="testinterop-consumers">
					<th>Producers &#92; Consumers</th>
<!--
                    <th class="rotate" id="consumer-impl-ORG-MODULE1">
                        <div><span>Consumer 1</span></div></th>
                    <th class="rotate" id="consumer-impl-ORG-MODULE2">
                        <div><span>Consumer 2</span></div></th>
                    <th class="rotate" id="consumer-impl-ORG-MODULE3">
                        <div><span>Consumer 3</span></div></th>
                    <th class="rotate" id="consumer-impl-ORG-MODULE4">
                        <div><span>Consumer 4</span></div></th>
-->
				</tr>
            </thead>
			<tbody>
<!--
                <tr>
                    <th id="producer-impl-ORG-MODULE1">Producer 1</th> 
                    <td class="passed">Pass</td> 
                    <td class="secure">Secure</td> 
                    <td class="failed">Fail</td>
                    <td class="notimpl">Not Impl</td>
				</tr>
                <tr>
                    <th id="producer-impl-ORG-MODULE2">Producer 2</th> 
                    <td class="secure">Secure</td> 
                    <td class="passed">Pass</td> 
                    <td class="notimpl">Not Impl</td>
                    <td class="passed">Pass</td> 
				</tr>
                <tr>
                    <th id="producer-impl-ORG-MODULE3">Producer 3</th> 
                    <td class="passed">Pass</td> 
                    <td class="notimpl">Not Impl</td>
                    <td class="secure">Secure</td> 
                    <td class="passed">Pass</td> 
				</tr>
-->
			</tbody>
		</table>

		<h1 id="h_appendices">
			<a id="appendices" name="appendices">Appendices</a></h1>

<!-- automatically extracted assertion list and test specs will go here -->
<h2 id="h_assertions">
<a id="assertionsB" name="assertions">Appendix A -
Test Specifications</a>
</h2>
<dl id="testspecs">
</dl>
		
<h2 id="h_ack">
			<a id="ackB" name="ack">Appendix B -
Acknowledgements</a>
		</h2>
		<p>The Web of Things Working Group would like to acknowledge the contributions of several individuals:</p>
		<ul>
		<li>TBD</li>
		</ul>
<div class="navbar">
			<hr>
		</div>
</body></html>
