/*************************************************
Top section image
*************************************************/
#top {
 margin-top: 1em;
 padding: 2em 2em 0 2em;
 background-color: white;
 background-image: url("https://www.w3.org/comm/assets/stock/shutterstock_789598969_night-cityscape-connected-pictograms-1024px.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 319px;
 color: black;
 position: relative;
}

#top h1,
#top h2,
#top p{
  padding: 1rem;
  color: black;
  text-shadow: 4px 4px 20px white;
}
