/*************************************************
Top section image
*************************************************/
#top {
 margin-top: 1em;
 padding: 2em 2em 0 2em;
 background-color: white;
 background-image: url("https://www.w3.org/comm/assets/stock/cityscape.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 370px;
 color: white;
 position: relative;
}

#top h1,
#top h2,
#top p{
  padding: 1rem;
  color: white;
  text-shadow: 0px 0px 0.1em rgba(0, 0, 0, 1);
}
